* {
  box-sizing: border-box;
  font-family: Pretendard;
  font-style: normal;
  margin: 0;
}
/* 메인페이지 화면조절 */
@media (min-width: 1920px) {
  .header-inner {
    width: 1920px;
    margin: 0 auto;
    padding: 9px 0;
  }
}
@media (min-width: 1920px) {
  .footer-inner {
    width: 1920px;
    margin: 0 auto;
    padding: 9px 0;
  }
}
.header {
  display: flex; /* outer flex 유지 */
  justify-content: center; /* 중앙 정렬 */
  width: 100%; /* 화면 전체 */
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  padding: 9px 200px;
  margin: 0 auto;
  gap: 10px;
}

.header-main {
  height: 100%;
}

.header-main-img {
  height: 100%;
}

.header-main-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 48px;
  background-color: #3692ff;
  border-radius: 8px;
}

.header-main-login-text {
  text-decoration: none;
  color: #f3f4f6;
}
.top {
  width: 100%;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 7px;
  background-color: #cfe5ff;
}

.top-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  padding-bottom: 60px;
  margin-bottom: 40px;
}

.top-left-text {
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
}

.top-left-go {
  display: flex;
  height: 56px;
  padding: 16px 124px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px; /* 160% */
  text-decoration: none;
  color: #f9fafb;
  background-color: #3692ff;
  border-radius: 40px;
}

.top-right {
  width: 746px;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.top-right-img {
  display: block;
  max-height: 100%;
}
.main {
  display: flex;
  width: 100%;
  padding: 138px 344px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main-main {
  display: flex;
  width: 988px;
  height: 444px;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.main1-left {
  width: 588px;
  height: 444px;
}

.main-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.main-right-reverse {
  display: flex; /* 이미 flex라면 유지 */
  flex-direction: column; /* 세로 정렬 */
  align-items: flex-end;
  text-align: right;
}
.main-right-text1 {
  color: #3692ff;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.main-right-group {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.main-right-text2 {
  color: #374151;
  font-size: 40px;
  font-weight: 700;
  line-height: 140%; /* 56px */
  letter-spacing: 0.8px;
}
.main-right-text3 {
  color: #374151;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
}

.bottom {
  width: 100%;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 69px;
  background-color: #cfe5ff;
}

.bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding-bottom: 60px;
  margin-bottom: 112.5px;
}

.bottom-left-text {
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
}

.bottom-right {
  width: 746px;
  height: 397px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bottom-right-img {
  display: block;
  max-height: 100%;
}

.footer {
  background-color: #111827;
  width: 100%;
}

.footer-inner {
  background-color: #111827;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1920px;
  height: 160px;
  padding: 32px 200px;
}

.footer-left {
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #9ca3af;
}

.footer-center {
  margin: 0 auto;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.footer-center-text {
  text-decoration: none;
  color: #e5e7eb;
}

.footer-right {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

/* 로그인 페이지 */
.login {
  display: flex;
  width: 1920px;
  padding: 231px 640px 284px 640px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-img {
  display: flex;
  width: 640px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  flex-shrink: 0;
}

.login-idpw {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}
/* 암호보기표시 */
.btn_visibillty {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 24px;
  bottom: 16px;
  cursor: pointer;
}
.login-idpw-email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.login-idpw-text {
  color: var(--Secondary-800, #1f2937);

  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}
.login-idpw-button {
  display: flex;
  width: 640px;
  height: 56px;
  padding: 16px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: none;
  background: var(--Cool-Gray-100, #f3f4f6);
  color: var(--Secondary-400, #1f2937);

  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.login-idpw-button::placeholder {
  color: #9ca3af; /* 안내문 회색 */
  font-size: 16px;
}
.login-b {
  display: flex;
  width: 640px;
  height: 56px;
  padding: 16px 124px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: var(--Secondary-400, #9ca3af);
  text-decoration: none;
}
.login-b:hover {
  background-color: #3692ff;
}
.login-b-text {
  color: var(--Cool-Gray-100, #f3f4f6);
  text-align: center;
  /* pretendard/xl-20px-semibold */
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160% */
}

.ez-login {
  display: flex;
  width: 640px;
  height: 74px;
  padding: 16px 23px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: #e6f2ff;
}

.ez-link {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.ez-link-img {
  width: 42px;
  height: 42px;
}

.login-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.login-footer-text {
  color: var(--Secondary-800, #1f2937);
  /* pretendard/md-14px-medium */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}

.login-footer-a {
  color: var(--Primary-100, #3692ff);
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
}

/* input 포커스 테두리 */
.login-input:hover {
  border: 1px solid #3692ff;
}
